<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.remote.render.service"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>

    <application>
        <service android:name=".RemoteRenderService"
                  android:label="@string/service_name"
            android:permission="android.permission.BLUETOOTH_ADMIN"
            android:exported="true"
            android:process=":remote">
        </service>
    </application>
</manifest>
